{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true
}